{{> header}}

<h1>Register</h1>
<form action="#/register" method="post">
   
    Username: <input type="text" name="username"><br>
    Password: <input type="password" name="password" ><br>
    Repeat Password: <input type="password" name="rePass"><br><br>
    <input type="submit" value="Register"><br>

</form>

{{> footer}}