#notifications{
    float: left;
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    text-align: center;
}

.notifications{
    border-radius: 20px;
    padding: 10px;
    width: 200px;
}

#loading{
    background: blue;
}

#info{
    background: green;
}

#error{
    background: red;
}